<div class="sidebar">
    <button id="toggle-sidebar" class="toggle-sidebar">☰</button>
    <h2 class="sidebar-title">Menú</h2>
    <ul class="menu-items">
        <li><a href="home.html"><img src="assets/home-icon.jpg" alt="Home Icon"><span>Panel General</span></a></li>
        <li><a href="mapa.html"><img src="assets/map-icon.png" alt="Map Icon"><span>Mapa</span></a></li>
        <li><a href="sensores.html"><img src="assets/sensor-icon.png" alt="Sensor Icon"><span>Sensores</span></a></li>
        <li><a href="dashboard.html"><img src="assets/dashboard-icon.png" alt="Dashboard Icon"><span>Dashboard</span></a></li>
        <li><a href="alertas.html"><img src="assets/alarms-icon.png" alt="Alarms Icon"><span>Alertas</span></a></li>
        <li><a href="register_sensor.html"><img src="assets/register-sensor-icon.png" alt="Register Sensor Icon"><span>Registrar Sensor</span></a></li>
        <li><a href="invite_user.html"><img src="assets/register-user-icon.png" alt="Register User Icon"><span>Invitar Usuario</span></a></li>
    </ul>
    <div class="sidebar-footer">
        <ul>
            <li><a href="myprofile.html"><img src="assets/profile-icon.jpg" alt="Profile Icon"><span>Mi perfil</span></a></li>
            <li><a href="signin.html" id="logout-link"><img src="assets/logout-icon.png" alt="Logout Icon"><span>Cerrar sesión</span></a></li>
        </ul>
    </div>
</div>
<script>
document.getElementById('logout-link').addEventListener('click', function(e) {
    e.preventDefault(); // Evita la navegación automática
    sessionStorage.removeItem('authToken');
    window.location.href = "signin.html"; // Redirige manualmente
});
</script>