<div class="sidebar">
    <button id="toggle-sidebar" class="toggle-sidebar">☰</button>
    <h2 class="sidebar-title">Menú</h2>
    <ul class="menu-items">
        <li><a href="sensoresUser.html"><img src="assets/sensor-icon.png" alt="Sensor Icon" title="Sensores"><span>Sensores</span></a></li>
        <li><a href="alertasUser.html"><img src="assets/alarms-icon.png" alt="Alarms Icon" title="Alertas"><span>Alertas</span></a></li>
    </ul>
    <div class="sidebar-footer">
        <ul>
            <li><a href="myprofile.html"><img src="assets/profile-icon.jpg" alt="Profile Icon" title="Mi Perfil"><span>Mi Perfil</span></a></li>
            <li><a href="signin.html" id="logout-link"><img src="assets/logout-icon.png" alt="Logout Icon" title="Cerrar Sesión"><span>Cerrar Sesión</span></a></li>
        </ul>
    </div>
</div>