<div class="top-banner">
    <div class="client-info">
        <p><strong>Cliente:</strong> <span id="company-name">Cliente</span></p>
    </div>
    <div class="logo-container">
        <a href="#top"> <!-- Make the logo clickable and redirect to the top -->
            <img src="assets/logo1.png" alt="SensIA Logo" class="top-logo">
        </a>
    </div>
    <a href="myprofile.html">
        <div class="user-info">
            <div class="user-details">
                <p><strong id="user-username">Usuario</strong></p>
                <p id="user-role">Rol</p>
            </div>
            <img src="assets/termi-user.png" alt="User Avatar" class="user-avatar">
        </div>
    </a>
</div>